
		

		.front_page_logo {max-width:100%;
				max-height:100%;
				text-align: center;
				position: fixed;
				}
		
svg {
		max-width:100%;
		animation-duration: 2.4s;
		animation-name: BGcolorslide;
		animation-iteration-count: infinite;
}
		
		
					
				.fill_log {
					fill: #F7931E;
				  animation-duration: 2.4s;
				  animation-name: colorslide;
				  animation-iteration-count: infinite;
				}
				
				
		
				
/*animation*/
				
				@keyframes colorslide {
					 0%{fill: #D9E021;}
					 25%{fill: #00ADA5;}
					 50%{fill: #F7931E;}
					 75%{fill: #CA16FF;}
					 100%{fill: #D9E021;}
				}
		
				@keyframes BGcolorslide {
					 0%{background-color: #CA16FF;}
					 25%{background-color: #D9E021;}
					 50%{background-color: #00ADA5;}
					 75%{background-color: #F7931E;}
					 99.99%{background-color: #CA16FF;}
				}
