
		

							/*color check
							
							yellow:	#D9E021
							blue:		#00ADA5
							orange:	#F7931E
							pink/purple:	#CA16FF
							
							*/
				
.BG {
		width:1920px;
		height:1080px;
		max-width:100%;
		text-align: center;
		animation-duration: 3s;
		animation-name: BGcolorslide;
		animation-iteration-count: infinite;
		}
		
		/* animation BG */
		
		@keyframes BGcolorslide {
					 0%{background-color: #00ADA5;}
					 22%{background-color: #00ADA5;}
					 25%{background-color: #F7931E;}
					 47%{background-color: #F7931E;}
					 50%{background-color: #CA16FF;}
					 72%{background-color: #CA16FF;}
					 75%{background-color: #D9E021;}
					 97%{background-color: #D9E021;}
					 100%{background-color: #00ADA5;}
				}
